{% extends 'user/../base.html' %}
{% block site_title %}Show Complaint: {{ order.number }}{% endblock %}
{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Show Complaint ID: <b>{{ order.number }}</b></h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
            <li class="breadcrumb-item active">Order Data</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                You can edit your order here
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa-solid fa-circle-info"></i>
                        Order info:
                    </div>
                    <div class="card-body">
                        <h3>Order ID: {{ order.number }}</h3>
                        <p>Creation date: {{ order.creation_date }}</p>
                        <p>Modification date: {{ order.modification_date }}</p>
                        <p>

                            <form method="POST" action="/panel/change-status/{{ order.id }}/">{% csrf_token %}
                                <div class="row mb-3">
                                    <h5>Status:</h5>
                                    <div class="col-md-3">
                                        <div class="form-floating mb-3 mb-md-0">
                                            {{ status_form.status }}<span style="color: red">{{ status_form.status.errors }}</span>
                                            <label for="inputLogin">Current status</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <button type="submit" class="btn btn-primary">Change Status</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">

                                </div>
                            </form>

                        </p>
                    </div>
                    <div class="card-footer small text-muted">Last Update {{ order.modification_date }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Product
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Name / title</th>
                                    <th>price</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Name / title</th>
                                    <th>price</th>
                                </tr>
                            </tfoot>
                        </table>
                        <br>
                        <form method="POST" action="/panel/add-product/{{ order.id }}/">{% csrf_token %}
                            <div class="row mb-3">
                                <h5>Add product:</h5>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        {{ product_form.name }}<span style="color: red">{{ product_form.name.errors }}</span>
                                        <label for="inputLogin">Product name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        {{ product_form.price }}<span style="color: red">{{ product_form.name.errors }}</span>
                                        <label for="inputEmail">Price</label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="submit" class="btn btn-primary">Add product</button>
                            </div>
                        </form>
                    </div>


                    <div class="card-footer small text-muted">Product list</div>
                </div>
            </div>
        </div>


        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-message"></i>
                User message:
            </div>
            <div class="card-body">

                <div class="chat-message">
                    <ul class="chat">
                        {% for message in messages %}
                        <li class="left clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font"><i class="fa-regular fa-user" style="margin-right: 5px;"></i> {{ message.user.username }}</strong>
                                    <small class="pull-right text-muted" style="margin-left: 10px;"><i class="fa-regular fa-clock"></i> {{ message.creation_date }}</small>
                                </div>
                                <p>
                                    {{ message.text }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            <form method="POST" action="/panel/add-message/{{ order.id }}/">{% csrf_token %}
                <div class="form-floating mb-3">
                    {{ message_form.text }}
                    <label for="inputEmail">New Message</label>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button type="submit" class="btn btn-primary">Add message</button>
                </div>
            </form>
            <br>
            <div class="card-footer small text-muted">Users message</div>
        </div>


    </div>
</main>
{% endblock %}