<div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/panel/home/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>


                            <div class="sb-sidenav-menu-heading">Admin function</div>
                            <a class="nav-link" href="/adm/user">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                                User management
                            </a>


                            <div class="sb-sidenav-menu-heading">Company management</div>
                            <a class="nav-link" href="/panel/users/">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                                User management
                            </a>
                            <a class="nav-link" href="/panel/add_user/">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user-plus"></i></div>
                                Create User
                            </a>

                            <div class="sb-sidenav-menu-heading">Complaints</div>
                            <a class="nav-link" href="/panel/add-compaint/">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
                                Add complaint
                            </a>
                            <a class="nav-link" href="/panel/complaints/">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                                Show all complaints
                            </a>



                            <div class="sb-sidenav-menu-heading">Account</div>
                            <a class="nav-link" href="/logout/">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
                                Logout
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{ current_user.username }}
                        <br><br>
                        <div class="small">Company:
                        {{ current_user.company.name }}</div>
                    </div>
                </nav>
            </div>